*.suo 
*.exe
*.log
*.user
*.pubxml
*.cmd
*.bat

/Quartz.NET.Task.Service
/Quartz.NET
/QuartzSettings
/Quartz.NET.Web/bin
/Quartz.NET.Web/obj


[Bb]in/
[Oo]bj/
[Ll]og/ 
[Ll]ogs/
[Dd]oc/
bak/
.vs/
packages/
MigrationBackup/
[Pp]ublish/ 
.vscode/
